/*
 * vim: sw=2
 */

body {
}

a {
  text-decoration: none;
  color: #008080;
}

a:hover, a:focus {
  text-decoration: none;
  color: #44aa99;
}


/*****************************************************************************/
/*
 * 滚动条的样式
 */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px
}

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    min-height: 2rem;
    background: #d2d2d2;
    background-clip: padding-box;
    border: 3px solid #fff;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover,._sidebar::-webkit-scrollbar-thumb:active {
    background-color: #aaa;
    border-width: 2px
}

/*****************************************************************************/

#app.view {
  background-color: rgb(231,238,247);
  background-image: url('//ssl.gstatic.com/docs/forms/themes/images/v1/0AX42CRMsmRFbUy03NTAzM2Q4My03ODU1LTQ2NzItODI2YS1kZmU5YzdiMzZjOGQ/blue-stripe-bg.png');
  background-repeat: repeat;
}

.navbar-header .back {
  padding-right: 10px;
}

ul.forms {
  font-size: 1.5em;
}

ul.forms a.view {
  color: gray;
  font-size: 0.8em;
}

.form-view {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
