/*
 * vim: sw=2
 */

body {
  background-color: rgb(231,238,247);
  background-image: url('//ssl.gstatic.com/docs/forms/themes/images/v1/0AX42CRMsmRFbUy03NTAzM2Q4My03ODU1LTQ2NzItODI2YS1kZmU5YzdiMzZjOGQ/blue-stripe-bg.png');
  background-repeat: repeat;
  overflow-y: scroll;
}

/*****************************************************************************/
/*
 * 滚动条的样式
 */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px
}

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    min-height: 2rem;
    background: #d2d2d2;
    background-clip: padding-box;
    border: 3px solid #fff;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover,._sidebar::-webkit-scrollbar-thumb:active {
    background-color: #aaa;
    border-width: 2px
}

/*****************************************************************************/

.navbar {
  border-radius: 0px;
}

.navbar-header .back {
  padding-right: 10px;
}

.navbar-header .navbar-brand a {
  color: #fff;
  text-decoration: none;
}
.navbar-header .navbar-brand a:hover,
.navbar-header .navbar-brand a:focus {
  color: #ecdbff;
}

.empty-form-list {
  font-size: 2em;
  color: gray;
}

ul.forms {
  font-size: 1.5em;
}

ul.forms a.view {
  color: gray;
  font-size: 0.8em;
}

.form-view {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* form editor tabs */
.react-tabs__tab-list {
  text-align: center;
}
.react-tabs__tab {
  font-size: 1.2em;
  color: gray;
  border: none;
}
.react-tabs__tab--selected {
  background: none;
  border-bottom: 3px solid #673ab7;
  color: #673ab7;
}

/****************** FormEditable **********************************/
.field-editable {
  padding: 10px;
}

.field-editable.editing {
  margin-bottom: 10px;
  border-left: 4px solid #673ab7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.field-editable-toolbar {
  height: 30px;
  text-align: right;
}

.field-attr-label {
  width: 70px;
  color: gray;
  margin-right: 10px;
}

.edit-in-place-label.empty {
  color: gray;
}
.edit-in-place-label.empty:after {
  content: '<单击此处编辑>';
}
