//- vim: sw=2
extends layout

block content

  div#app

  script.
    var PAGENAME = 'index';
    var siteName = '#{siteName}';
    var forms = !{JSON.stringify(forms)};
  script(src='/js/bundle.js')
