/*
 * vim: sw=2
 */

body {
}

a {
  text-decoration: none;
  color: #008080;
}

a:hover, a:focus {
  text-decoration: none;
  color: #44aa99;
}

/*
 * 重写 bootstrap .btn-primary 的颜色
 */

.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}
.btn-primary:hover {
  background-color: #2e8dd7;
  border-color: #2e8dd7;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  background-color: #2e8dd7;
  border-color: #2e8dd7;
}

/*
 * 重写 bootstrap .btn-danger 的颜色
 */

.btn-danger {
  background-color: #f4511e;
  border-color: #f4511e;
}
.btn-danger:hover {
  background-color: #f14018;
  border-color: #f14018;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  background-color: #f14018;
  border-color: #f14018;
}

/*
 * 滚动条的样式
 */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px
}

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    min-height: 2rem;
    background: #d2d2d2;
    background-clip: padding-box;
    border: 3px solid #fff;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover,._sidebar::-webkit-scrollbar-thumb:active {
    background-color: #aaa;
    border-width: 2px
}

/*****************************************************************************/

a.form-editor,
a.form-view {
  color: gray;
}

.navbar-header .back {
  padding-right: 10px;
}
