/*
 * vim: sw=2
 */

body {
}

.navbar-brand img {
  width: 24px;
  margin-right: 10px;
  display: inline-block;
}

#app.view {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-view {
  max-width: 600px;
  padding: 30px 10px 30px 10px;
  margin: 0px auto;
}

.table.responses img.attachment {
  height: 100px;
}
.table.responses video.attachment {
  height: 200px;
}
